form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: ; */
  height: 500px;
  width: 300px;
  border: 2px solid black;
  padding: 30px;
}
label {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10%;
}
input {
  padding: 10px;
  margin: 3px;
  margin-left: 15%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
button {
  margin-left: 5%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;
}
p > .details {
  font-size: 10px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.nameerror,
.emailerror,
.passworderror,
.details {
  margin-left: 15%;
}
